body {
    font-family: 'Nunito', sans-serif;
}
.login-ts {
    min-height: 100vh
}

.login-ts .bs-reset {
    margin: 0;
    padding: 0
}

.login-ts .text-right {
    text-align: right
}

.login-ts .bg-grd {
    background-image: linear-gradient(139deg, #250e8a, #00f9f7);
}

.login-ts .login-bg {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh
}

.login-ts .login-logo.login-6 {
    top: 80px;
    left: 80px
}

.login-ts .login-container {
    position: relative;
    min-height: 100vh
}

.login-ts .login-container .login-copyright,
.login-ts .login-container .login-social,
.login-ts .login-container>.login-content {
    padding: 0 80px
}

.login-ts .login-container>.login-content {
    margin-top: 15%
}

.login-ts .login-container>.login-content>h1 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 35px;
    font-weight: 600;
    color: #4b4b4b
}

.login-ts .login-container>.login-content p {
    font-family: 'Nunito', sans-serif;
    color: #4b4b4b;
    font-size: 20px;
    line-height: 26px;
    font-weight: 300;
}

.login-ts .login-container>.login-content>.login-form {
    margin-top: 25px;
    color: #a4aab2;
    font-size: 13px
}

.login-ts .login-container>.login-content>.login-form label {
    font-family: 'Nunito', sans-serif;
    padding-left: 15px;
    color: #4b4b4b;
    font-size: 16px
}

.login-ts .login-container>.login-content>.login-form .form-control {
    height: 40px;
    border: 2px solid #1384c1;
}

.login-ts .login-container>.login-content>.login-form .form-control:focus {
    outline: 0
}

.login-ts .login-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 500px;
    transform: translate(-50%, -50%);
}

.login-ts .alert {
    margin-top: -60px
}

.login-ts .form-group.has-error {
    border-bottom: 2px solid #ed6b75!important
}

.login-ts .form-group.valid {
    border-bottom: 1px solid #a0a9b4!important
}

.login-ts .btn-lg {
    padding: 10px 64px;
}

.btn-supernova {
    color: #fff;
    background-color: #FFCA00;
    border-color: #FFCA00
}

.btn-supernova:hover {
    color: #fff;
    background-color: #E9BB0C;
    border-color: #E9BB0C
}

.btn-supernova:focus,
.btn-supernova.focus {
    box-shadow: 0 0 0 .2rem rgba(91, 194, 194, 0.5)
}

.btn-supernova.disabled,
.btn-supernova:disabled {
    color: #fff;
    background-color: #FEF0B8;
    border-color: #FEF0B8
}


@media (max-width:1365px) {
    .login-ts .login-logo.login-6 {
        top: 40px;
        left: 40px
    }
    .login-ts .login-container .login-copyright,
    .login-ts .login-container .login-social,
    .login-ts .login-container>.login-content {
        padding: 0 95px
    }
    .login-ts .login-container .login-social {
        padding-right: 0
    }
    .login-ts .login-container .login-copyright {
        padding-left: 0
    }
}

@media (max-width:1023px) {
    .login-ts,
    .login-ts .login-bg,
    .login-ts .login-container {
        min-height: 50vh
    }
    .login-ts .mt-login-5-bsfix {
        width: 100%
    }
    .login-ts .login-logo.login-6 {
        position: relative;
        margin: 0 0 40px
    }
    .login-ts .login-container>.login-content {
        margin-top: 60px
    }
    .login-ts .login-container>.login-content .login-form {
        margin-top: 40px
    }
    .login-ts .login-container .rem-password {
        margin-bottom: 1em
    }
    .login-ts .login-container>.login-footer {
        position: relative;
        margin-top: 40px;
        padding-bottom: 0
    }
    .login-ts .login-container>.login-footer .login-social li {
        margin-right: .5em
    }
    .login-ts .alert {
        margin-top: -20px
    }
}

@media (max-width:640px) {
    .login-ts .login-container>.login-content .text-right {
        text-align: left
    }
}