.navbar-chatman {
    background-image: linear-gradient(139deg, #250e8a, #00f9f7);
    border: none;
    border-radius: 0;
    margin-bottom: 0
}

.navbar-brand {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 35px;
    font-weight: 600;
    color: #fff;
}

.navbar-brand:hover {
    color: #eaf5ff
}

.nav > li > a {
    background: #00afb6;
    color: #fff;
}

.nav > li > a:focus, .nav > li > a:hover {
    color: #fff;
    background-color: #250e8a;
}